body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
	font-size: 350%; 
     text-align:center;
     text-shadow: 3px 2px rgba(165, 142, 12, 0.76);
	}

h2 { color : #725940 ; 
     font-size: 135% ; 
     text-align:left;
     line-height:1.5;
	 margin:10px; padding:20px;
	}

h3 { color : #a16b34 ; 
     font-size: 135% ; 
     text-align:left;
	 line-height:1.5;
	 margin:10px; padding:20px;
     
}


h4 { color : #725940 ; 
	font-size: 135% ; 
	text-align:left;
	line-height:1.5;
	margin:10px; padding:20px;
}
h5 { color : #a16b34 ; 
	font-size: 135% ; 
	text-align:left;
	line-height:1.0;
	margin:10px; padding:20px;
}

h6 { color : #725940 ; 
	font-size: 135% ; 
	text-align:left;
	line-height:1.5;
	margin:10px; padding:20px;
}


a {
	color: rgb(255, 0, 0);
	text-shadow: 2px 1px rgb(255, 238, 0);
	font-size: 150% ; 
	text-align:center;
	}

#myid { color :#7c4700; 
		font-style : italic;
		text-align:left;
		 margin:20px;
	}

p {text-align:center;
}
	