body {
    background-color:#dac6a3;
    text-align:center;
}
    
    h1 {
  color:#f7da23;
  font-size:150;
  text-align:center;
  text-shadow: 3px 2px rgba(252, 235, 0, 0.842);
 }

    h2 {
  color:#925649;
  font:verdana;
  font-size:250%;
  text-align:center;
  text-shadow: 3px 2px rgb(245, 227, 66);
  line-height:0.5;
 }
 a {
  font-size:100%;
  color: rgb(119, 97, 0);
  text-shadow: 3px 1px rgba(204, 156, 53, 0.877);
  margin:auto; padding:20px;
  
  
}

p { color : #7c4700;
  font-size: 125% ; 
  text-align:center;
  line-height:1.0;
  margin-top:0;
}
a:link, a:visited {
color:brown;
}
