body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
     text-align:center;
     text-shadow: 3px 2px rgba(165, 142, 12, 0.76);
	}

p { color : #7c4700;
    font-size: 150% ; 
    text-align:left;
    line-height:1.5;
    margin:10px; padding:20px;
}

#myid { color :#7c4700; 
	font-style : italic;
	text-align:left;
	margin:10px;
}


h2 { 
    font-size: 150% ; 
    text-align:center;
}
a {
	color: rgb(255, 0, 0);
	text-shadow: 2px 1px rgb(255, 238, 0);
	
  }