body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
	font-size: 300% ; 
     text-align:center;
	 text-shadow: 3px 2px rgb(180, 155, 13);
	
	}

h2 { color : #725940 ; 
     font-size: 150% ; 
     text-align:left;
	 margin:10px; padding:20px;
	 line-height:1.5;
	}

h3 { color : #a16b34 ; 
     font-size: 200% ; 
     text-align:center;
	 text-shadow: 3px 1px rgba(255, 251, 1, 0.877);
}

p { color : #be2623;
	font-size: 125% ; 
}

#myid { color :#7c4700; 
	font-style : italic;
	text-align:left;
	 margin:10px;
}

h4 { 
	font-size: 150% ; 
	text-align:center;
	 
}
a {
	color: rgb(255, 0, 0);
	text-shadow: 2px 1px rgb(255, 238, 0);
	
  }