body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
     text-align:center;
     text-shadow: 3px 2px rgba(165, 142, 12, 0.76);
	}

h2 { color : #725940 ; 
     font-size: 135% ; 
     text-align:center;
     line-height:1.5;
	}

h3 { color : #a16b34 ; 
     font-size: 150% ; 
     text-align:center;
     text-shadow: 3px 2px rgb(229, 245, 11);
}

p { color : #FF0000;
    font-size: 120% ; 
    text-align:center;
}

h4 { color : #a16b34 ; 
    font-size: 150% ; 
    text-align:center;
    text-shadow: 3px 2px rgb(229, 245, 11);
}
h5 { color : #a16b34 ; 
    font-size: 130% ; 
    text-align:center;
    line-height:1.5;
}

#myid { color :#7c4700; 
	font-style : italic;
	id="11";
}

h6 { 
    font-size: 100% ; 
    text-align:center;
  
}


