body { 
	background-color: #ffffff ;
	}
h1 {color : #4d516d ; 
    text-align:center;
	}

h2 { 
     font-size:100% ; 
     text-align:center;
	}

h3 { 
     font-size: 100% ; 
     text-align:center
	}

h4 { 
     font-size: 100% ; 
     text-align:center
	}

h5 { 
     font-size: 100% ; 
     text-align:center
	}

h6 { 
     font-size: 100% ; 
     text-align:center
	}
p{
     font-size: 100% ; 
     text-align:center
}

p1 { color : #0080fe;
	}

p2 { color : #f57b39;
	}


#myid { color :#720a00; 
	font-style : italic; 
	id="11";
	}



