body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
     text-align:center;
     text-shadow: 3px 2px rgba(165, 142, 12, 0.76);
	}

p { color : #7c4700;
    font-size: 150% ; 
    text-align:left;
    line-height:1.5;
    margin:10px; padding:20px;
}

#myid { color :#725940; 
	font-style : italic;
	id="11";
}

h2 { 
    font-size: 150% ; 
    text-align:center;
}