body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
     text-align:center;
	}

h2 { color : #725940 ; 
     font-size: 100% ; 
     text-align:center
	}

h3 { color : #a16b34 ; 
     font-size: 100% ; 
     text-align:center
}

h4 {  
     font-size: 100% ; 
     text-align:center
}

p { color : #be2623;
}

#myid { color :#7c4700; 
	font-style : italic;
	id="11";
}