body { 
	background-color: #dfd4be ;
	}
h1 { color:#732c2a;
     text-align:center;
     text-shadow: 3px 2px rgba(165, 142, 12, 0.76);
	}

h2 { color : #725940 ; 
     font-size: 135% ; 
     text-align:left;
     line-height:1.5;
     margin:10px; padding:10px;

	}

h3 { color : #a16b34; 
     font-size: 135% ; 
     text-align:left;
     line-height:1.5;
     margin:10px; padding:10px;
    
}

h4 { color : #EF7215; 
    font-size: 135% ; 
    font-style : italic;
    text-align:left;
    line-height:1.5;
    margin:10px; padding:10px;

}
h5 { color : #EF7215; 
    font-size: 130% ; 
    font-style : italic;
    text-align:left;
    line-height:1.5;
    margin:10px; padding:20px;
}

h6 { color :#725940 ; 
    font-size: 130% ; 
    text-align:center;
    
}

p { 
    font-size: 130% ; 
    text-align:center;
    
}

#myid { color :#7c4700; 
	font-style : italic;
	id="11";
    margin:10px;
}
